<!-- <h1  class="text-3xl font-bold">
    Inscription
  </h1>
  <div class="w-full max-w-xs">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit2()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Nom d'utilisateur:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" formControlName="name" placeholder="Nom d'utilisateur" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" formControlName="email" placeholder="Votre adresse email" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" formControlName="password" placeholder="••••••••" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="roles">Rôles:</label>
        <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="roles" required>
          <option value="ROLE_USER">ROLE_USER</option>
          <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        </select>
      </div>
      <button type="submit" class="w-full focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center" [disabled]="!loginForm.valid" [ngClass]="{'bg-sky-500 hover:bg-sky-600': loginForm.valid, 'bg-gray-200': !loginForm.valid}">S'inscrire</button>
      <div>
        Vous avez déjà un compte? <a href="#" class="text-blue-500 underline" routerLink="/signup">Se connecter</a>
      </div>
    </form>
  </div> -->
  <div class="form-bg">
    <div class="container">
        <div style="height: 800px" class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
                <div class="form-container">
                    <div class="form-icon">
                        <i class="fa fa-user-circle"></i>
                        <span class="signup"><a href="" routerLink="/login">Vous avez un compte? se connecter</a></span>
                    </div>
                    <form class="form-horizontal" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                        <h3 class="title">S'inscrire</h3>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="text" formControlName="name" name="text" placeholder="Nom" required="">
                        </div>
                        <div class="form-group">
                          <span class="input-icon"><i class="fa fa-envelope"></i></span>
                          <input class="form-control" type="email" formControlName="email" name="text" placeholder="email" required="">
                      </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" type="password" formControlName="password" name="password" placeholder="••••••••"  required="">
                        </div>
                        <div>
                          <div class="form-group">
                            <select class="form-select" aria-label="Default select example" formControlName="roles" required="">
                              <option value="ROLE_USER">ROLE_USER</option>
                              <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                            </select>
                          </div>
                          
                      </div>
                        <button class="btn signin" type="submit">s'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Inscrivez-vous</h2>
                <p class="text-white-50 mb-5">Entrez vos informations:</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Nom:</label>
                  <input type="text" id="typeNameX" class="form-control form-control-lg" formControlName="name" name="text"  placeholder="Nom" required="" />
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">email:</label>
                  <input type="text" id="typeEmailX" class="form-control form-control-lg" formControlName="email" name="text" placeholder="email" required="" />
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password:</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" name="password" id="password" placeholder="••••••••"  required="" />
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">roles:</label>
                  <select type="text" id="typeRoleX" class="form-control form-control-lg" formControlName="roles" required="">
                    <option value="ROLE_USER">ROLE_USER</option>
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                  </select>
                </div>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </form>
              <div>
                <p class="mb-0">Vous avez un compte? <a href="#!" class="text-white-50 fw-bold" routerLink="/login">Connectez-vous</a>
                </p>
              </div>
              </div>

  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   -->
  