  <section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Inscription</h3>
  
              <form class="px-md-2" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" formControlName="name" name="text" placeholder="Nom" required="" />
                  <div *ngIf="!signUpForm.get('name')?.valid && signUpForm.get('name')?.touched" class="text-danger">
                    <div *ngIf="signUpForm.get('name')?.hasError('required')">
                      Le nom est necessaire
                    </div>
                  </div>
                </div>

              <div class="form-outline mb-4">
                <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email" required>
                <div *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched" class="text-danger">
                  L'email est necessaire.
                </div>
                <div *ngIf="signUpForm.get('email')?.hasError('pattern') && signUpForm.get('email')?.touched" class="text-danger">
                  format d'email est invalide.
                </div>
              </div>

              <div class="form-outline mb-4">
                <input type="password" class="form-control" formControlName="password" name="password" placeholder="••••••••" required="" />
                <div *ngIf="!signUpForm.get('password')?.valid && signUpForm.get('password')?.touched" class="text-danger">
                  <div *ngIf="signUpForm.get('password')?.hasError('required')">
                    le mot de passe est necessaire.
                  </div>
                </div>
              </div>
  
                <div class="mb-4">
                  <select class="select" formControlName="roles" required="">
                    <option value="1" disabled>Roles</option>
                    <option value="ROLE_USER">ROLE_USER</option>
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                  </select>
                </div>
                <!-- <button type="submit" class="btn btn-success btn-lg mb-1">s'inscrire</button> -->

                <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">
                    S'inscrire
                </button> <br><br>
                <span class="signup">Vous avez un compte? <a href="" routerLink="/login"> se connecter</a></span>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>